html,body,h1,h2,h3,h4,h5,h6 {
    font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}
html,body{
    font-size:16px;
    line-height:1.5;
}
h1{
    font-size:2.5em;
}
h2{
    font-size:2em;
    font-weight: 400;
}
h3{
    font-size:1.6em;
    font-weight: 500;
}
h4{
    font-size:1.3em;
    font-weight: 600;
}
h5,nav{
    font-size:1.2em;
}
h6{
    font-size:1.1em;
}
#oneliner {
    font-size: 1.5em;
    font-weight: 600;
    font-variant-caps: all-small-caps;
}

/*
p.normal {font-variant-caps: normal;}
p.small {font-variant-caps: small-caps;}
p.allsmall {font-variant-caps: all-small-caps;}
p.petite {font-variant-caps: petite-caps;}
p.allpetite {font-variant-caps: all-petite-caps;}
p.unicase {font-variant-caps: unicase;}
p.titling {font-variant-caps: titling-caps;}
*/

/* Footer and navigation */
footer p {
    font-size: .75em;
}

nav a{
    text-align: center;
    text-decoration: none;
    font-weight: 500;
}
nav a:active {
    font-weight: bold;
}

}
@media screen and (min-width:769px){
    html,body{
    font-size:12px;
}
}
@media screen and (min-width:1205px){
    html,body{
    font-size:16px;
}
}